.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

#textToShow, #StandarValue, #ActualTask {
  color: white;
}

#textToShow {
  grid-column: 1/2;
  grid-row: 1;
  text-align: center;
  font-family: 'Press Start 2P', serif;
  font-size: 1.5em;
  padding: 10px 0;
  border-radius: 2.5em;
  margin: 0 20% 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 20px #0fa, 0 0 120px #0fa;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

#StandarValue {
  font-family: 'Press Start 2P', serif;
  font-size: 1em;
}

#ActualTask {
  grid-column: 3 / 10;
  grid-row: 1;
  text-align: center;
  background-image: url("../../../assets/images/hypnotic.jpg");
  background-size: 100%;
  border-radius: 2em;
  padding: 10px 0;
  border: 1.2px solid white;
  box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 10px #d000ff, 0 0 25px #d000ff;
  font-family: 'Press Start 2P', serif;
  min-height: 80px;
  min-width: 800px;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  line-height: 30px;
  justify-content: center;
  -webkit-text-stroke: 1px #ffffff;

}

#PlayerButton {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-button {
  width: 150px;
  height: 210px;
  background-image: url("../../../assets/images/card.jpg");
  background-size: 95%;
  filter: brightness(0.8);
  border: 1.2px solid white;
  box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 10px #d000ff, 0 0 25px #d000ff;
  margin-right: -50px;
  border-radius: 0.3rem;
  cursor: url('../../../assets/images/hand.png'), auto;
  position: relative;
  z-index: 1;
  transition: margin-right 0.3s ease, top 0.3s ease;

  &:hover {
    margin-right: 0;
    top: -50px;
  }

  &:active {
    transform: scale(0.85);
  }
}

.card-button_label {
  width: auto;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 7px #0fa, 0 0 120px #0fa;
  font-family: 'Press Start 2P', serif;
  font-size: 2.5em;
}

.card-button_icon {
  height: 210px;
  text-shadow: rgb(0, 255, 170) 0.1px 0.2px 6px;
  color: rgb(255, 255, 255);
  font-size: 3.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav-container {
  height: 100%;
  background: none;
}

mat-sidenav {
  color: #00a1ef;
  width: 200px;
}
