/* This is a div that contain everything and takes all the page. */
.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


/* The div that contains the title, teh actual task and the button to open the sidenav. */
.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}


/* Here we choose the style for the display of the actual task, the title and the standard value. */
#textToShow, #StandardValue, #ActualTask {
  color: white;
  text-align: center;
}

#textToShow {
  grid-column: 1/2;
  grid-row: 1;
  text-align: center;
  font-family: 'Press Start 2P', serif;
  font-size: 1.5em;
  padding: 10px 0;
  border-radius: 2.5em;
  margin: 0 20% 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 20px #0fa, 0 0 120px #0fa;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

#StandardValue {
  font-family: 'Press Start 2P', serif;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#ActualTask {
  grid-column: 3 / 10;
  grid-row: 1;
  text-align: center;
  background-image: url("../../../assets/images/hypnotic.jpg");
  background-size: 100%;
  border-radius: 2em;
  padding: 10px 0;
  border: 1.2px solid white;
  box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 10px #d000ff, 0 0 25px #d000ff;
  font-family: 'Press Start 2P', serif;
  min-height: 80px;
  min-width: 800px;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  line-height: 30px;
  justify-content: center;
  -webkit-text-stroke: 1px #ffffff;
}

#endMessage, #gameModeMessage{
  font-family: 'Press Start 2P', serif;
  font-size: 1em;
  text-align: center;
}


/* It's here that we style all things about the sidenav. */
mat-sidenav-container {
  height: 100%;
  background: none;
}

mat-sidenav {
  width: 300px;
  padding: 10px;
}

.header_sidenav {
  grid-column: 11;
  grid-row: 1;
  transform: scale(1.2);
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0 10px 100px 0;
  width: 90%;
  text-align: right;

  &:active {
    color: #797777;
  }
}

.cross {
  background: none;
  color: red;
  border: none;
  cursor: pointer;

  &:active {
    color: #730505;
  }
}


/* It's the div that contains every card the player can choose. With all the style that came with his children. */
#PlayerButton {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-button {
  width: 150px;
  height: 210px;
  background-image: url("../../../assets/images/card.jpg");
  background-size: 95%;
  filter: brightness(0.8);
  border: 1.2px solid white;
  box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 10px #d000ff, 0 0 25px #d000ff;
  margin-right: -50px;
  border-radius: 0.3rem;
  cursor: url('../../../assets/images/hand.png'), auto;
  position: relative;
  z-index: 1;
  transition: margin-right 0.3s ease, top 0.3s ease;

  &:hover {
    margin-right: 0;
    top: -50px;
  }

  &:active {
    transform: scale(0.85);
  }
}

.card-button_label {
  width: auto;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 7px #0fa, 0 0 120px #0fa;
  font-family: 'Press Start 2P', serif;
  font-size: 2.5em;
}

.card-button_icon {
  height: 210px;
  text-shadow: rgb(0, 255, 170) 0.1px 0.2px 6px;
  color: rgb(255, 255, 255);
  font-size: 3.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Here is the style of the div that contains the input and the input itself. */
.input-group {
  width: 35em;
  display: flex;
  flex-direction: column;
  z-index: 2;

  &__input {
    height: calc(1em + 1.6em + 0.5em);
    width: 100%;

    background-image: linear-gradient(#e3e3e3, #e3e3e3),
    linear-gradient(120deg, #1beabd 0%, #0ff 50%, #20125f 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    color: #000000;

    line-height: 1;
    outline: none;
    padding: 0 1em;
    font-family: 'Press Start 2P', serif;

    border: 0.25em solid transparent;
    border-radius: 1.8em;

    &:focus {
      box-shadow: 0 0 0 0 #fff,
      3px -3px 30px #1beabd,
      -3px 3px 30px #10abff;
    }
  }
}

::placeholder {
  color: #8d8d8d;
}
