<form>
  <div class="form_number-players">
    <label>Player number </label>
    <input type="range" min="2" max="{{playerMax}}" value="2" (change)="getSliderValue($event)">
    <span>{{ playerNumber }}</span>
  </div>

  <div class="form_players">
    <player-card (change)="addPlayerName($event)" [i]="i"
                 *ngFor="let i of playersNb"></player-card>
  </div>

  <div class="form_style-game">
    <input type="radio" name="mod" value="classique" checked (change)="changeMod($event)"> Classique
  </div>

  <div class="form_input-json">
    <input type="file" accept=".json" (change)="onFileSelected($event)">
  </div>

  <div class="form_buttons">
    <start-button (click)="sendData()"
                  [pushableBackground]="'hsl(354, 91%, 26%)'"
                  [captionBackground]="'linear-gradient(#c00c1e, #810612)'"
                  [captionColor]="'white'"
                  [name]="'BACK'"
                  [link]="'/'">
    </start-button>
    <start-button (click)="sendData()"
                  [pushableBackground]="'hsl(111, 100%, 35%)'"
                  [captionBackground]="'linear-gradient(#00ff05, #19b000)'"
                  [captionColor]="'white'"
                  [name]="'START'"
                  [link]="'/game'">
    </start-button>
  </div>
</form>
