<div class="choices">
  <button id="0" class="skinbutton" image="../../../assets/images/card.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="1" class="skinbutton" image="../../../assets/images/skin/fireworks.png" select="false" (click)="selectSkin($event)"></button>
  <button id="2" class="skinbutton" image="../../../assets/images/skin/pokemon.jpeg" select="false" (click)="selectSkin($event)"></button>
  <button id="3" class="skinbutton" image="../../../assets/images/skin/tetris.png" select="false" (click)="selectSkin($event)"></button>
  <button id="4" class="skinbutton" image="../../../assets/images/skin/croissant.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="5" class="skinbutton" image="../../../assets/images/skin/starwars.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="6" class="skinbutton" image="../../../assets/images/skin/space.png" select="false" (click)="selectSkin($event)"></button>
  <button id="7" class="skinbutton" image="../../../assets/images/skin/space2.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="8" class="skinbutton" image="../../../assets/images/skin/noel.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="9" class="skinbutton" image="../../../assets/images/skin/bun.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="10" class="skinbutton" image="../../../assets/images/skin/planet.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="11" class="skinbutton" image="../../../assets/images/skin/feuille.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="12" class="skinbutton" image="../../../assets/images/skin/retro.jpg" select="false" (click)="selectSkin($event)"></button>
  <button id="13" class="skinbutton" image="../../../assets/images/skin/banane.jpg" select="false" (click)="selectSkin($event)"></button>
</div>

<div class="bottom">
  <button class="pushable_button" routerLink="/">
    <span class="caption_button"> {{ "HOME" | translate }} </span>
  </button>
</div>
