.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 80%;
  padding: 10px;
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10%;
}

button:hover {
  background-color: #c9c5c5;
}

.skinbutton[select="true"] {
  border: 3px solid #d4ef03;
}

.skinbutton {
  width: 150px;
  height: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pushable_button {
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  background: linear-gradient(#e02a2a, #ff0000);
}

.caption_button {
  display: block;
  padding: 20px 50px;
  border-radius: 12px;
  border: 3px solid white;
  font-family: 'Press Start 2P', serif;
  background: hsl(0, 96%, 51%);
  color: white;
  font-size: 1.7rem;
  text-shadow: 1px 1px 2px #000000;
  transform: translateY(-6px);
}

.caption_button:hover {
  filter: brightness(90%);
  color: #c7c7c7 !important;
}


.pushable_button:active .caption_button {
  transform: translateY(-2px);
}

