.container_middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
}

.container_header {
  height: 25%;
  padding: 80px 15px 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

start-button {
  transform: scale(1.5);
}


.bottom_input-json {
  position: relative;
  display: inline-block;

  & label {
    display: inline-block;
    font-family: 'Press Start 2P', serif;
    background-color: #1b35d3;
    color: #fff;
    padding: 10px 15px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid #e9e9ea;

    &:hover {
      background-color: #1125a4;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  gap: 15px;
}

.container_bottom {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  height: 20%;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #151515;
  padding: 20px 50px 20px 15px;
  font-size: 12px;
  border: 1.2px solid #949494;
  text-align: justify;
  font-family: 'Press Start 2P', serif;
  color: #949494;
  width: 70em;
  box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 10px #d000ff, 0 0 25px #d000ff;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', serif;
  text-decoration: underline;
  color: #00b2ff;
}


select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.info-button_language {
  background: #cbcbcb;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 12px;

  &:hover {
    background-color: #3146d3;
  }
}

.shop_button {
  padding : 7px 8px 5px 7px;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  &:hover {
    background-color: #3146d3;
  }
}
