.container_button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 55%;
}

.container_info-button {
  height: 25%;
  padding: 80px 15px 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

start-button {
  transform: scale(1.5);
}
