<div class="container_info-button">
  <pp-title></pp-title>
  <information-button (buttonClicked)="openInformation()"></information-button>
  <select class="form-select" (change)="changLang($event)">
    <option [selected]="lang==='en'" value="en">English</option>
    <option [selected]="lang==='fr'" value="fr">Français</option>
  </select>
</div>
<div class="container_button">
  <start-button [pushableBackground]="'hsl(111, 100%, 35%)'"
                [captionBackground]="'linear-gradient(#00ff05, #19b000)'"
                [captionColor]="'white'"
                [name]="'PLAY'"
                [link]="'/lobby'">
  </start-button>
  <start-button [pushableBackground]="'hsl(251, 67%, 27%)'"
                [captionBackground]="'linear-gradient(#4935b0, #281775)'"
                [captionColor]="'white'"
                [name]="'CONTINUE'"
                [link]="'/game'" id="contniue-button"
                (buttonClicked)="sendData()">
  </start-button>
</div>
<div class="container_bottom">
  <div class="bottom_input-json">
    <input type="file" id="fileInput" accept=".json" (change)="onFileSelected($event)">
    <label for="fileInput">Chose a json file</label>
  </div>
</div>
<div id="popup">
  <h2>Game rules</h2>
  <ul>
    <li>First choose the default value, this task will have the weight of 1 and you will use it to define the other
      tasks in the backlog.
    </li>
    <li>Each time it's your turn, you'll choose a grade (a weight) for the task you need to grade.</li>
    <li>If everyone agrees, the score will be awarded, otherwise the rules of the mode you've chosen will apply.</li>
    <li>If one of you chooses the interogation point, the game will pause and you will have to explain the task to the
      player who set the interogation point. Then you'll have to go around again.
    </li>
    <li>If one of you puts down the coffee card, then the game stops, downloads a save game that you can use to resume
      the game. And you can discuss this over a cup of coffee.
    </li>
    <li>Once all the notes have been entered, you will download a JSON containing the notes you have assigned.</li>
  </ul>
</div>
