<div class="container_header">
  <div class="header_left">
    <pp-title></pp-title>
  </div>
  <div class="header_right">
    <button class="shop_button" routerLink="/shop">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <information-button (buttonClicked)="openInformation()"></information-button>
    <div class="info-button_language">
      <mat-icon>language</mat-icon>
      <select class="form-select" (change)="changLang($event)">
        <option [selected]="lang==='en'" value="en">{{ 'English' | translate }}</option>
        <option [selected]="lang==='fr'" value="fr">{{ 'French' | translate }}</option>
        <option [selected]="lang==='su'" value="su">{{ 'Swedish' | translate }}</option>
        <option [selected]="lang==='al'" value="al">{{ 'German' | translate }}</option>
        <option [selected]="lang==='es'" value="es">{{ 'Spanish' | translate }}</option>
        <option [selected]="lang==='ch'" value="ch">{{ 'Chinese' | translate }}</option>
        <option [selected]="lang==='gr'" value="gr">{{ 'Greek' | translate }}</option>
        <option [selected]="lang==='po'" value="po">{{ 'Polish' | translate }}</option>
        <option [selected]="lang==='it'" value="it">{{ 'Italian' | translate }}</option>
        <option [selected]="lang==='la'" value="la">{{'Latin' | translate}}</option>
      </select>
    </div>
  </div>
</div>
<div class="container_middle">
  <start-button [pushableBackground]="'hsl(111, 100%, 35%)'"
                [captionBackground]="'linear-gradient(#00ff05, #19b000)'"
                [captionColor]="'white'"
                [name]="'PLAY' | translate"
                [link]="'/lobby'">
  </start-button>
  <start-button [pushableBackground]="'hsl(251, 67%, 27%)'"
                [captionBackground]="'linear-gradient(#4935b0, #281775)'"
                [captionColor]="'white'"
                [name]="'CONTINUE' | translate"
                [link]="'/game'" id="contniue-button"
                (buttonClicked)="sendData()">
  </start-button>
</div>
<div class="container_bottom">
  <div class="bottom_input-json">
    <input type="file" id="fileInput" accept=".json" (change)="onFileSelected($event)">
    <label for="fileInput">{{ 'JSON_file' | translate }}</label>
  </div>
</div>
<div id="popup">
  <h2>{{ 'GameRules' | translate }}</h2>
  <ul>
    <li>{{ 'GameRules1' | translate }}</li>
    <li>{{ 'GameRules2' | translate }}</li>
    <li>{{ 'GameRules3' | translate }}</li>
    <li>{{ 'GameRules4' | translate }}</li>
    <li>{{ 'GameRules5' | translate }}</li>
    <li>{{ 'GameRules6' | translate }}</li>
  </ul>
</div>
